body{
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background-color: hsl(0, 0%, 95%);
}
h1{
  font-size: 2rem;
  font-family: "Big Shoulders Inline Display";
  font-weight: 700;
  color:hsl(0, 0%, 95%);
}
button{
  border-style: solid;
  border-radius: 2rem;
  background-color: hsl(0, 0%, 95%);
  border-color: hsl(0,0%,95%);
  padding: 0.7rem 1.7rem;
  font-style: "Big Shoulders Display", sans-serif;
  font-weight: 700;
  margin-top: 2rem;
  font-size: 0.7rem;
  cursor:pointer;
}
button:hover{
  background-color: rgb(0, 0, 0, 0);
  color: hsl(0,0%,95%);
  border-style: solid;
}

p{
  font-family: "Lexend Deca";
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1.6;
}
.root{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 53rem;
  border-radius: 0.6rem;
}
.box1{
  width: 33.3%;
  background-color: hsl(31, 77%, 52%);
  border-radius: 0.6rem 0 0 0.6rem;
  padding: 3rem 2rem;
}
.button1{
  color:hsl(31, 77%, 52%);
}

.box2{
  width: 33.3%;
  background-color: hsl(184, 100%, 22%);
  padding: 3rem 2rem;

}
.button2{
  color:hsl(184, 100%, 22%);
}
.box3{
  width: 33.3%;
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 0.6rem 0.6rem 0;
  padding: 3rem 2rem;

}
.button3{
  color: hsl(179, 100%, 13%);
}
@media screen and (max-device-width:1280){
  main{
    display:flex;
    flex-direction:column;
  }
}
